body {
    background: rgb(188, 244, 248);
}

.om_mig {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
    margin: 5% 20%;
}

table, th {
    text-align: center;
    table-layout: fixed;
    border: 5px solid black;
}
td {
    text-align: center;
    table-layout: fixed;
    border: 2px solid black;
}
table {
    width: 60%;
    margin: 5% 20%;
    background-color: cornsilk;
}
header {
    background-image: url("./bilder/vinter.jpg");
    background-size: cover;
    padding: 20px
}
.form {
    font-size: 20px;
    margin: 0% 20%;
    text-align: center;
}
.knapp {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    border-radius: 15px 50px;
    border-color: black;
    padding: 2%;
}